absl-py==1.0.0
albumentations==1.1.0
alembic==1.14.0
altair==4.2.0
antlr4-python3-runtime==4.8
anyio==4.6.2.post1
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
black==21.4b2
blinker==1.5
brotlipy==0.7.0
cachetools==5.0.0
certifi==2022.5.18.1
click==8.1.7
colorlog==6.9.0
commonmark==0.9.1
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
faicons==0.2.2
fonttools==4.25.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.6.5
google-auth-oauthlib==0.4.6
greenlet==3.1.1
grpcio==1.44.0
gunicorn==23.0.0
h11==0.14.0
htmltools==0.6.0
hydra-core==1.1.2
imageio==2.19.3
imutils==0.5.4
inflection==0.5.1
iopath==0.1.9
ipympl==0.9.3
ipython==8.12.3
joblib==1.1.0
jupyter_core==5.7.2
kaleido==0.2.1
linkify-it-py==2.0.3
llvmlite==0.38.1
Mako==1.3.6
Markdown==3.3.6
markdown-it-py==3.0.0
mccabe==0.6.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
mkl-fft==1.3.1
mkl-service==2.4.0
munkres==1.1.4
mypy-extensions==0.4.3
narwhals==1.12.1
nbconvert==7.16.4
nbformat==5.10.4
networkx==2.8.3
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.0
omegaconf==2.1.2
opencv-python==4.5.5.64
openpyxl==3.1.2
optuna==4.0.0
orjson==3.10.10
pandas==1.4.2
pathspec==0.9.0
Pillow==9.0.1
pipreqs==0.5.0
platformdirs==4.3.6
plotly==5.10.0
portalocker==2.4.0
prompt_toolkit==3.0.36
protobuf==3.20.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydeck==0.8.0b3
pydot==1.4.2
PyJWT==2.9.0
pyls-spyder==0.4.0
Pympler==1.0.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-multipart==0.0.17
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
questionary==2.0.1
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.8
rsconnect_python==1.24.0
scikit-image==0.19.2
scikit-learn==1.1.1
seaborn==0.11.2
semver==2.13.0
Shapely==1.7.1
shiny==1.2.0
shinywidgets==0.3.4
sip==6.10.0
smmap==5.0.0
sniffio==1.3.1
SQLAlchemy==2.0.36
starlette==0.41.2
streamlit==1.13.0
tabulate==0.8.9
tenacity==8.1.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.4.0
toolz==0.12.0
torchsummary==1.5.1
tqdm==4.64.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2022.4
tzlocal==4.2
uc-micro-py==1.0.3
uvicorn==0.32.0
validators==0.20.0
watchfiles==0.24.0
webencodings==0.5.1
websockets==13.1
Werkzeug==2.1.1
wincertstore==0.2
yacs==0.1.8
yarg==0.1.9
# Torch with CUDA 11.3
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchaudio==0.11.0

# Prebuilt Detectron2 for torch 1.11.0 + cu113
detectron2==0.6+pt1.11.0cu113

--extra-index-url https://download.pytorch.org/whl/cu113
--extra-index-url https://miropsota.github.io/torch_packages_builder